body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* NAVBAR */

.navBar {
    height: 75px;
    width: 100%;
    display: flex;
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
    background-color: white;
}

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: black;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

nav .brand-logo {
    position: absolute;
    color: black;
    display: inline-block;
    font-size: 2.1rem;
    padding: 5px;
}

.Logo {
    /* background-color: teal; */
    flex-basis: 50%;
    display: flex;
    align-items: center;
    padding: 2em;
    color: #888888;
}

.nav-details {
    /* background-color: tomato; */
    flex-basis: 50%;
    overflow: hidden;
    float: right;
    display: flex;
    align-items: center;
    padding: 2em;
    flex-direction: row-reverse;
}

.nav-details>a {
    margin: 1em;
    font-size: 17px;
    color: gray
}

.dropdown .dropdown-btn {
    font-size: 17px;
    border: none;
    outline: none;
    color: gray;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.dropDown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropDown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropDown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropDown-content {
    display: block;
}

/* HomeDiv */

.HomeDiv {
    height: 85vh;
    width: 100%;
    background-image: url('../assets/home2.jpeg');
    background-size: cover;
    position: relative;
}

.transparent-box {
    background: rgba(36, 35, 77, 0.7);
    position: absolute;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.homeContent {
    /* background-color: teal; */
    width: 60%;
    height: 70vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1.2fr 0.5fr 1fr 2fr;
    grid-template-areas: "logo" "INDIA" "Global" "Tickets";
}

.homeContent .logo {
    grid-area: logo;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.India {
    grid-area: INDIA;
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.Global {
    grid-area: Global;
    width: 100%;
    /* background-color: darkgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    text-align: center;
}

/*Built by Joyal A Johney & Devdutt Shenoi*/

.Tickets {
    grid-area: Tickets;
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Tickets a {
    height: 5em;
    width: 15em;
    background-color: whitesmoke;
    opacity: 1;
    padding: 1em;
    border-radius: 10px;
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Tickets i {
    flex-basis: 30%;
    font-size: 25px;
    /* background-color: teal; */
    transform: rotate(-30deg);
    color: orangered;
}

.ticketIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: teal; */
}

#bookTickets {
    flex-basis: 70%;
    /* height: 2em; */
    /* background-color: blueviolet; */
    /* display: inline; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: orangered;
    /* background-color: yellow; */
}

/* Global DIV */

.globalDiv {
    width: 100%;
    height: 80vh;
    padding: 4em;
    /* background-color: teal; */
    display: grid;
    grid-template-rows: 1fr 0.8fr 0.9fr;
}

.globalHead {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7em;
    font-weight: lighter;
    color: gray;
    /* background-color: teal; */
}

.globalContent {
    height: auto;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    /* background-color: yellow; */
    padding-bottom: 1em;
}

.globalDiv button {
    width: 14em;
    border-radius: 7px;
    justify-self: center;
    height: 4em;
}

/* ImagesDiv */

.imagesDiv {
    height: 100vh;
    background-color: #EFEFEF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.top-left {
    background-image: url('../assets/left_image.jpg');
    background-size: cover;
    grid-column: 1/3;
}

.top-right {
    background-image: url('../assets/right_image.jpg');
    background-size: cover;
    grid-column: 4/5;
}

.bottom-mid {
    background-image: url('../assets/middle_image.jpg');
    background-size: cover;
    grid-column: 2/4;
}

.quote-section {
    font-size: 25px;
    background-color: #b4b4b4;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

/* COMPANIES */

.companies {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    font-weight: lighter;
    color: gray;
}

/* Parallax Div */

.kochi {
    opacity: 0.5;
}

.kochiDiv div {
    font-size: 3em;
    font-weight: lighter;
    color: white;
    z-index: 9;
    text-align: center;
}

.kochiDiv button {
    z-index: 9;
    margin-top: 2em;
    height: 55px;
}

.kochiDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: teal; */
    flex-direction: column;
}


@media(max-width: 768px) {}

/* Style the container/contact section */

.map-box {
    color: white;
    height: 100vh;
    padding-top: 10px;
    position: adaptive;
    left: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #303030;
    width: 100vw;
}

#map {
    padding-bottom: 10px
}

.attendeeContainer {
    width: 100%;
    overflow: hidden;
}

.attendeeHead {
    width: 100%;
    height: 30vh;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7em;
    font-weight: lighter;
    color: gray;
    /* background-color: teal; */
}

.attendeeDetails {
    width: 100%;
    min-height: 100vh;
}

.attendeeDetailDiv {
    height: auto;
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
    /* background-color: tomato; */
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

hr {
    width: 90%;
    border-color: gray;
}

/*Contact portraits*/

.portrait {
    text-align: center;
    padding: 20px;
}

.portrait:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.portrait>img {
    width: 300px;
    border-radius: 300px;
}

/*Footer*/

.footerDiv {
    width: 100%;
    height: 50vh;
    padding-top: 3em;
    background-color: #333;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 4fr 2fr 2fr;
    grid-template-areas: "logo ibeto excel" "brand brand brand";
}

.footerDiv a {
    color: white;
}

.logo {
    grid-area: logo;
    /* background-color: tomato; */
    color: white;
    display: grid;
}

.logo img {
    justify-self: center;
    align-self: center;
}

.logo div {
    justify-self: center;
    margin: -2em;
}

.logo div a {
    color: white;
    font-size: 22px;
    padding: 0 1em;
}

.logo div a:hover {
    cursor: pointer;
}

.footerIbeto {
    grid-area: ibeto;
    /* background-color: teal; */
    display: grid;
}

.footerIbeto img {
    justify-self: center;
    align-self: center;
    height: 5em;
}

.footerIbeto div {
    justify-self: center;
    color: white;
    margin-top: -1em;
}

.footerExcel {
    grid-area: excel;
    /* background-color: #333; */
    display: grid;
}

.footerExcel img {
    justify-self: center;
    align-self: center;
    height: 5em;
}

.footerExcel div {
    justify-self: center;
    color: white;
    margin-top: -1em;
}

.Excelbrand {
    /* margin-top: 4em; */
    grid-area: brand;
    /* background-color: brown; */
    display: grid;
}

.Excelbrand span {
    align-self: center;
    justify-self: center;
    color: white;
}

/* Responsive - Mobile View */

@media(max-width: 768px) {
    /* Footer */
    .footerDiv {
        height: 50vh;
    }
    .logo img {
        display: none;
    }
    .logo div {
        margin-top: 1em;
    }
    .logo div span {
        display: block;
    }
    .logo div a {
        font-size: 10px;
        padding: 0 4px;
    }
    .footerIbeto img {
        height: 3em;
    }
    .footerIbeto div {
        font-size: 8px;
    }
    .footerExcel {
        margin: 0 1em;
    }
    .footerExcel img {
        height: 3em;
    }
    .footerExcel div {
        font-size: 8px;
    }
}

/* Media queries */

/* very small phone Iphone SE */

@media only screen and (max-width: 320px) {
    .India {
        font-size: 15px;
    }
    .Global {
        font-size: 35px;
        text-align: center;
    }
    .globalContent {
        font-size: 15px;
    }
    .globalDiv button {
        width: auto;
    }
}

/* iphone 6s and 6s+*/

@media only screen and (max-width: 420px) {
    .HomeDiv {
        height: 90vh;
    }
    .transparent-box {
        height: 90vh;
    }
    .India {
        font-size: 15px;
    }
    .Global {
        font-size: 35px;
        text-align: center;
    }
    #tickets {
        font-size: 15px;
    }
    .Tickets i {
        font-size: 25px;
    }
    .Tickets a {
        padding: 10px 20px;
    }
    .globalDiv {
        height: 95vh;
    }
    .globalHead {
        height: auto;
        text-align: center;
        font-size: 2.5em;
    }
    .globalContent {
        font-size: 15px;
    }
    .imagesDiv {
        height: auto;
        background-color: #EFEFEF;
        display: grid;
        grid-template-columns: auto;
    }
    .top-left {
        background-image: url('../assets/left_image.jpg');
        background-size: cover;
        grid-column: auto;
        height: 35vh;
    }
    .top-right {
        background-image: url('../assets/right_image.jpg');
        background-size: cover;
        grid-column: auto;
        height: 55vh;
    }
    .bottom-mid {
        background-image: url('../assets/middle_image.jpg');
        background-size: cover;
        grid-column: auto;
        height: 40vh;
    }
    .quote-section {
        height: 35vh;
        grid-column: auto;
        color: white;
    }
}

/*ipad potrait grids*/

@media only screen and (max-width: 805px) {
    .imagesDiv {
        height: auto;
        background-color: #EFEFEF;
        display: grid;
        grid-template-columns: auto;
    }
    .top-left {
        background-image: url('../assets/left_image.jpg');
        background-size: cover;
        grid-column: auto;
        height: 35vh;
    }
    .top-right {
        background-image: url('../assets/right_image.jpg');
        background-size: cover;
        grid-column: auto;
        height: 40vh;
    }
    .bottom-mid {
        background-image: url('../assets/middle_image.jpg');
        background-size: cover;
        grid-column: auto;
        height: 40vh;
    }
    .quote-section {
        height: 35vh;
        grid-column: auto;
        color: white;
    }
}

/*Track*/
/* TRACK CONTACT */
.trackContacts{
    margin-top: 4em;
    margin-bottom: 7em;
    height: 80vh;
    width: 100vw;
    position: relative;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: teal; */
}

.trackContacts > div{
    height: 100%;
    width: 100%;
    text-align: center;
    color: tomato;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: auto;
    padding: 1em;
}

.trackContactDetails{
    display: flex;
    justify-content: center;
}


.sheading{
    font-size:60px;
    text-align:center;
    margin-top:80px;
    margin-bottom:60px;
}
.sintro{
    padding:20px;
    margin-left:15%;
    margin-right:15%;
    font-size:20px;
    text-align:center;
    margin-bottom:50px;
}
.squote{
    background-image:url("../assets/globe.jpg");
    background-size:cover;
    background-attachment:fixed;
    font-size:40px;
    color:white;
    text-align:center;
    font-family:verdana;
}
.sabout{
    font-size:20px;
    text-align:left;
    padding:50px;
    padding-left:15%;
    padding-right:15%;
    padding-bottom:90px;
    color:white;
    background-color:rgba(0,0,0,.2);
}
.sdarkbg{
    background-color:rgba(0,0,0,.5);
    padding:20px;
    padding-top:100px;
    padding-bottom:100px;   
}
.saboutbg{
    background-image: linear-gradient(to right top, #787878, #5e5e5e, #454545, #2e2e2e, #181818);
}
.tracks{
    font-size:20px;
    padding:20px;
    padding-left:15%;
    padding-right:15%;
    padding-bottom:100px;
}
.sbig{
    font-size:50px;
    text-align:center;
}
