body{
    overflow-x: hidden;
}


.track1{
    background: url('../assets/track1Head.jpg');
    background-size: cover;
}
.track2{
    background: url('../assets/track2Head1.jpeg');
    background-size: cover;
}
.track3{
    background: url('../assets/Judiciary.jpg');
    background-size: cover;
}
.track4{
    background: url('../assets/track4Head.jpg');
    background-size: cover;
}

.headingDetails{
    /* background-color: teal; */
    /* position: absolute; */
    height: 100%;
    width: 100%;
    z-index: 2;
    display: grid;
    grid-template-rows: 30% 10% 30% 5%;
    grid-template-columns: auto;
    justify-content: center;
}

.head{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}


.trackLogo{
    font-size: 20px;
}

.trackKochi{
    font-size: 18px;
}

.trackHead{
    font-size: 4em;
}
.track3Head{
    font-size: 3em;
}

.trackDesc{
    font-size: 20px;
}
.track3box{
    background: rgb(23, 23, 65);
    opacity: 0.8;
}










/* BIG DESCRIPTION */
.aboutTrack{
    position: relative;
    height: 90vh;
    width: 100vw;
    /* background-color: teal; */
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutTrack > div{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    padding: 3em;
    padding-top: 5em;
    color: gray;
    text-align: center;
}

.aboutTrack > div > h3{
    margin-bottom: 1em;
    color: tomato;
}
.aboutTrack > div > p{
    font-size: 20px;
}






/* EXTRA DIV */
.extraDiv{
    height: 50vh;
    width: 100vw;
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}








/* SPEAKER PANEL */
.speakerPanel{
    margin-top: 4em;
    margin-bottom: 4em;
    position: relative;
    /* background-color: teal; */
    height: auto;
    width: 100vw;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.speakerPanel > div{
    height: auto;
    width: 100%;
    /* background-color: yellow; */
    text-align: center;
    color: gray;
    padding: 1em;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: auto;
}
.speakerPanel > div > h3{
    color: tomato;
}


.speakers{
    /* background-color: tomato; */
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 40% 60%;
}

.speakerImage{
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    align-items: center;    
}

.speakerImage > img{
    background-size: cover;
    border-radius: 50%;
    width: 55%;
    height: 80%;
}

.speakerDetails{
    /* background-color: brown; */
    padding: 7em;
    text-align: center;
}

.speakerName{
    font-size: 3.5em;
}

.speakerDesig{
    font-size: 20px;
}








/* TRACK CONTACT */
.trackContacts{
    margin-top: 4em;
    height: 80vh;
    width: 100vw;
    position: relative;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackContacts > div{
    height: 100%;
    width: 100%;
    text-align: center;
    color: tomato;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: auto;
    padding: 1em;
}

.trackContactDetails{
    display: flex;
}